.resultadoDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 20px;

  margin-top: 20px;
  margin-bottom: 20px;

  border-width: 1px;
  border-style: solid;
  border-color: #245483;
  background-color: #fff;
  min-height: 40vh;
  min-width: 430px;

  border-radius: 10px;
}

@media(max-width: 500px) {
  .resultadoDiv {
    width: 90vw;
    min-width: 330px;
  }
}

.resultadoDiv h2 {
  margin-bottom: 15px;
  color: #245483;
}