.formdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 20px;

  margin-top: 20px;
  margin-bottom: 20px;

  background-color: #fff;
  /* min-height: 70vh; */
  min-width: 50vw;

  border-radius: 10px;
}

@media(max-width: 950px) {
  .formdiv {
    width: 70vw;
    min-width: 330px;
  }

  .formdiv form select, .formdiv form input {
    min-width: 60vw;
  }
}

@media(max-width: 850px) {
  .formdiv {
    width: 80vw;
    min-width: 330px;
  }

  .formdiv form select, .formdiv form input {
    min-width: 70vw;
  }
}

@media(max-width: 650px) {
  .formdiv {
    width: 90vw;
    min-width: 330px;
  }

  .formdiv form select, .formdiv form input {
    min-width: 80vw;
  }
}

.formdiv h2 {
  margin-bottom: 15px;
  color: #245483;
}

.formdiv form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  min-height: 350px;
}

.formdiv form .inputdiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.formdiv button {
  outline: none;
  width: 200px;
  height: 50px;
  background-color: #6E9DC9;
  color: #FFF;
  font-size: 28px;
  border-radius: 10px;
  border: 2px solid #fff;
  margin-top: 30px;
}

.formdiv button:hover {
  background-color: #245483;
}

.formdiv form select, .formdiv form input {
  min-width: 310px;
  height: 45px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #6E9DC9;
  font-size: 16px;
  text-align: center;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  background-color: #FFF;
}

.table {
  width: 100%;
  border: 2px solid #6E9DC9;
  border-radius: 5px;
  text-align: center;
  background-color: #6E9DC9;
}

.table tr, .table th, .table td {
  border: none;
  padding: 10px;
}

.table td{
  background-color: #FFF;
}

.table th {
  color: #FFF;
}